.QuizGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QuizGame .questions {
    margin-bottom: 20px;
}

.QuizGame button {
    width: 150px;
    height: 40px;
}

.QuizGame .score {
    margin-inline: 10px;
}
